doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='public/libs.min.css')
        link(rel='stylesheet', href='public/style.css')
    body
        header
            include ./header.jade
        h1 Jade - nodess template engine
        #container.col
            p.
                sisas Jade is a terse and simple
                templang langage with a
                strong focus on performance
                and powerful features.
        script(src="public/bundle.js")
        